<div fxLayout="column" fxLayoutAlign="space-around center" fxFlexOffset="10px" fxLayoutGap="20px">
    <div fxFlex="0 0 50px" fxLayout="column" class="search">
        <md-input-container fxFlexFill>
            <md-icon mdPrefix>search</md-icon>
            <md-placeholder>&nbsp;&nbsp;Contact name</md-placeholder>
            <input mdInput (keyup)="filter($event.target.value)" />
        </md-input-container>
    </div>
    <div fxFlex="1 1 auto" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign=" center">
        <div *ngIf="(items | async).length === 0">
            <h4>(None Found)</h4>
        </div>
        <div fxFlex="0 0 auto" fxLayout="column" *ngFor="let item of items | async" class="address-card">
            <app-address-card fxFlexFill fxLayout="column" [address]="item">
            </app-address-card>
        </div>
    </div>
</div>
